body {
  background: #efefef;
  color: #111111;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #bbbbbb;
}

.bg-steel {
  background-color: #121212;
}

.site-header .navbar-nav .nav-link {
  color: #bbbbbb;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ce1b28;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #121212;
  padding: 10px 20px;
  color: #bbbbbb;
  border: 1px solid #efefef;
  border-radius: 3px;
  margin-bottom: 20px;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

a.red-underlined-link {
  color: #ce1b28 !important;
  text-decoration: underline;
}

a:hover {
  color: #ce1b28 !important;
  text-decoration: none !important;
}

ul.list-group a.list-group-item {
  background: #121212;
  color: #bbbbbb;
  border: 0.01px solid #efefef !important;
}

.title-heading {
  color: #111111 !important;
}