@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600");

body {
  background: #2c2f36;
  color: #C9D3E7 !important;
  margin-top: 5rem;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  line-height: 1.65;
  font-size: 12pt;
}

h1, h2, h3, h4, h5, h6 {
  color: #C9D3E7;
}

hr {
  background-color: #C9D3E7;
}

.bg-steel {
  background-color: #101010;
}

.site-header .navbar-nav .nav-link {
  color: #bbbbbb;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ce1b28;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: rgba(35,36,39,0.95);
  padding: 10px 20px;
  color: #C9D3E7;
  border: 1px solid #2c2f36;
  box-shadow: 0 9px 18px 0 rgba(0,0,0,0.25);
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 20px;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

a.red-underlined-link {
  color: #ce1b28 !important;
  text-decoration: underline;
}

a:hover, .btn-hover-red:hover {
  color: #ce1b28 !important;
  text-decoration: none !important;
}

ul.list-group a.list-group-item {
  background: #2c2f36;
  color: #C9D3E7;
  box-shadow: 0 9px 18px 0 rgba(0,0,0,0.25);
  box-sizing: border-box;
}

.title-heading {
  color: #C9D3E7 !important;
}

/*
.alert-success {
  color: #ce1b28 !important;
  background-color: #101010 !important;
  border: 1px solid #2c2f36 !important;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 9px 18px 0 rgba(0,0,0,0.25) !important;
}
*/

.alert-info, .alert-danger, .alert-success {
  color: #101010 !important;
  background-color: #ce1b28 !important;
  opacity: 0.8;
  filter: alpha(opacity=30);
  border: 1px solid #2c2f36 !important;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 9px 18px 0 rgba(0,0,0,0.25) !important;
}


.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after{
  background-color: #ce1b28 !important;
}