@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600");

body {
  background: #2c2f36;
  color: #C9D3E7 !important;
  margin-top: 5rem;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  line-height: 1.65;
  font-size: 12pt;
}

h1, h2, h3, h4, h5, h6 {
  color: #C9D3E7;
}

hr {
  background-color: #C9D3E7;
}

.bg-steel {
  background-color: #101010;
}

.site-header .navbar-nav .nav-link {
  color: #bbbbbb;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ce1b28;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

a.red-link {
  color: #ce1b28 !important;
  font-size: 17px;
}

a.red-link:hover {
  text-decoration: underline !important;
}

a.red-underlined-link {
  color: #ce1b28 !important;
  text-decoration: underline;
}

a:hover, .btn-hover-red:hover {
  color: #ce1b28 !important;
  text-decoration: none !important;
}

.title-heading {
  color: #C9D3E7 !important;
}

.machine-heading {
  font-size: 2.5rem;
  background: #101010;
  text-align: center;
  box-shadow: 0 7px 16px 0 #ce1b28;
  box-sizing: border-box;
}

/* custom bootstrap */

.table-responsive {
  box-shadow: 0px 9px 18px 0px #101010 !important;
}

.table-row-odd {
  background-color: #2c2f36;
  color: #fff;
}

.table-row-even {
  background: #101010;
  color: #fff;
  padding: 10px !important;
  box-shadow: 69px 10px 18px 0 #ce1b28 !important;
  box-sizing: border-box;
  border-collapse: collapse;
}

.content-section,.jumbotron {
  background: rgba(35,36,39,0.95);
  padding: 10px 20px;
  color: #C9D3E7;
  border: 1px solid #2c2f36;
  box-shadow: 0 9px 18px 0 rgba(0,0,0,0.25);
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 20px;
}

.card-header {
  font-size: 15px;
  padding: 1px;
}

.card {
  background: #101010;
  padding: 10px 20px;
  color: #C9D3E7;
  border: 1px solid #2c2f36;
  box-shadow: 0 5px 18px 0 #ce1b28;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after{
  background-color: #ce1b28 !important;
}

.form-control {
  width: 400px !important;
}

@media screen and (max-width: 1024px) {

  .form-control {
    width: auto !important;
  }
  
}

ul.list-group a.list-group-item {
  background: #2c2f36;
  color: #C9D3E7;
  box-shadow: 0 9px 18px 0 rgba(0,0,0,0.25);
  box-sizing: border-box;
}

.alert-success {
  color: #ce1b28 !important;
  background-color: #101010 !important;
  border: 1px solid #2c2f36 !important;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 9px 18px 0 rgba(0,0,0,0.25) !important;
}

.alert-info, .alert-danger{
  color: #101010 !important;
  background-color: #ce1b28 !important;
  opacity: 0.8;
  filter: alpha(opacity=30);
  border: 1px solid #2c2f36 !important;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 9px 18px 0 rgba(0,0,0,0.25) !important;
}

