@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600");

:root {
  --primary-color: #ce1b28;
  --secondary-color: #2c2f36;
  --dark-color: #101010;
  --light-color: #C9D3E7;
}

body {
  background: var(--secondary-color);
  color: var(--light-color) !important;
  margin-top: 5rem;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  line-height: 1.65;
  font-size: 12pt;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--light-color);
}

hr {
  background-color: var(--light-color);
}

.bg-dark {
  background-color: var(--dark-color) !important;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.site-header .navbar-nav .nav-link {
  color: #bbbbbb;
}

.site-header .navbar-nav .nav-link:hover {
  color: var(--primary-color);
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

a.red-link {
  cursor: pointer;
  color: var(--primary-color) !important;
  font-size: 17px;
}

a.red-link:hover {
  text-decoration: underline !important;
}

a.red-underlined-link {
  color: var(--primary-color) !important;
  text-decoration: underline;
}

a:hover, .btn-hover-red:hover {
  color: var(--primary-color) !important;
  text-decoration: none !important;
}

.title-heading {
  color: var(--light-color) !important;
}

/* machine.html */

.machine-heading {
  font-size: 2.5rem;
  background: var(--dark-color);
  text-align: center;
  box-shadow: 0 7px 16px 0 var(--primary-color);
  box-sizing: border-box;
}


.btn-sm {
  border-radius: 10%;
  cursor: pointer;
}

/* custom bootstrap */

.table-responsive {
  box-shadow: 0px 9px 18px 0px var(--dark-color) !important;
}

.table-row-odd {
  background-color: var(--secondary-color);
  color: #fff;
}

.table-row-even {
  background: var(--dark-color);
  color: #fff;
  padding: 10px !important;
  box-shadow: 69px 10px 18px 0 var(--primary-color) !important;
  box-sizing: border-box;
  border-collapse: collapse;
}

.content-section, .jumbotron {
  background: rgba(35,36,39,0.95);
  padding: 10px 20px;
  color: var(--light-color);
  border: 1px solid var(--secondary-color);
  box-shadow: 0 9px 18px 0 rgba(0,0,0,0.25);
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 20px;
}

.card-header {
  font-size: 15px;
  padding: 1px;
}

.card {
  background: var(--dark-color);
  padding: 10px 20px;
  color: var(--light-color);
  border: 1px solid var(--secondary-color);
  box-shadow: 0 5px 18px 0 var(--primary-color);
  box-sizing: border-box;
  margin-bottom: 20px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after{
  background-color: var(--primary-color) !important;
}

.form-control {
  width: 400px !important;
}

@media screen and (max-width: 1024px) {

  .form-control {
    width: auto !important;
  }
  
}

ul.list-group a.list-group-item {
  background: var(--secondary-color);
  color: var(--light-color);
  box-shadow: 0 9px 18px 0 rgba(0,0,0,0.25);
  box-sizing: border-box;
}

.alert-success {
  color: var(--primary-color) !important;
  background-color: var(--dark-color) !important;
  border: 1px solid var(--secondary-color) !important;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 9px 18px 0 rgba(0,0,0,0.25) !important;
}

.alert-info, .alert-danger {
  color: var(--dark-color) !important;
  background-color: var(--primary-color) !important;
  opacity: 0.8;
  filter: alpha(opacity=30);
  border: 1px solid var(--secondary-color) !important;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 9px 18px 0 rgba(0,0,0,0.25) !important;
}


/* Setup.html */

.line {
  background-color: #bbbbbb !important;
}

.active .bs-stepper-circle {
  background-color: var(--light-color) !important;
  color: var(--dark-color) !important;
}

/* challenges.html */

.tags-container {
  display: flex;
  justify-items: center;
  align-items: center;
}

.tags-container .tag {
  margin: 4px 4px;
  border-radius: 2px;
  padding: 1px 2.5px;
}

.card-top {
  display: flex !important;
  justify-content: space-between;
}